<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 edit-properties-header"><h5 class="greyText"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit Properties:</h5></div>
        </div>
        <div class="marginTopFivepixels"></div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <label class="control-label greyText">
                    Add New Option:
                </label>
                <div class="input-group">
                    <input type="text" class="form-control" id="inputAddNewGroupedOption" placeholder="add new option" ng-model="leftPanelController.groupSelectOption.saisie">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="leftPanelController.addNewOptionGroupedSelect()">Add</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <label class="control-label greyText">
                    Add New Group:
                </label>
                <div class="input-group">
                    <input type="text" class="form-control" id="inputAddNewGroupGroupedOption" placeholder="add new group" ng-model="leftPanelController.groupSelectGroup.saisie">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="leftPanelController.addNewGroupToGroupedSelect()">Add</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <label class="control-label greyText editPropertiesLabel">
                    Edit/Remove Options/Groups:
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class-"col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div ng-if="leftPanelController.groupSelectOptions.rows.length === 0">
                        <h5 class="text-center greyText">
                            <em>
                                - No options: Add new options -
                            </em>
                        </h5>
                    </div>
                    <table ng-if="leftPanelController.groupSelectOptions.rows.length > 0"
                           class="table table-striped">
                        <thead>
                            <tr>
                                <th st-ratio="20">
                                    Order
                                </th>
                                <th st-ratio="25">
                                    Group
                                </th>
                                <th st-ratio="30">
                                    Option
                                </th>
                                <th st-ratio="25"></th>
                            </tr>
                            <tr>
                                <th st-ratio="20"></th>
                                <th st-ratio="25"></th>
                                <th st-ratio="30">
                                    <input ng-model="groupedSelectFilter"
                                           placeholder="search for option"
                                           class="input-sm form-control"
                                           type="search" />
                                </th>
                                <th st-ratio="25"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="groupedSelectRow in leftPanelController.groupSelectOptions.rows | filter:groupedSelectFilter as groupedSelectRow">
                                <td st-ratio="20">
                                    {{$index}}
                                </td>
                                <td st-ratio="25">
                                    <div ng-if="leftPanelController.groupSelectGroupClick.showList === true">
                                        <div ng-if="leftPanelController.groupSelectGroups.list.length === 0">
                                            <p class="text-left noGroupText">
                                                - Add new groups -
                                            </p>
                                        </div>
                                        <div ng-if="leftPanelController.groupSelectGroups.list.length > 0">
                                            <ol class="nya-bs-select col-sm-12 col-xs-12 col-md-12 col-lg12 editGroupedSelectnyaSelect"
                                                ng-model="groupedSelectRow.group"
                                                id="modelGroupedOptionGroupedChoose"
                                                disabled="leftPanelController.groupSelectGroups.list.length === 0">
                                                <li class="nya-bs-option"
                                                    nya-bs-option="GroupedSelectGroup in leftPanelController.groupSelectGroups.list"
                                                    value="GroupedSelectGroup">
                                                    <a>
                                                        {{GroupedSelectGroup}}
                                                    </a>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                    <div ng-if="leftPanelController.groupSelectGroupClick.showList === false">
                                        {{groupedSelectRow.group}}
                                    </div>
                                </td>
                                <td st-ratio="30">
                                    {{groupedSelectRow.option}}
                                </td>
                                <td st-ratio="25">
                                    <div class="pull-right">
                                        <button class="btn btn-primary options-row-btn"
                                                ng-click="leftPanelController.upThisGroupedSelectRow($index)">
                                            <i class="fa fa-arrow-up"></i>
                                        </button>
                                        <button class="btn btn-primary options-row-btn"
                                                ng-click="leftPanelController.downThisGroupedSelectRow($index)">
                                            <i class="fa fa-arrow-down"></i>
                                        </button>
                                        <button class="btn btn-warning options-row-btn"
                                                ng-click="leftPanelController.showGroupListToChoose()">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </button>
                                        <button class="btn btn-danger options-row-btn"
                                                ng-click="leftPanelController.removeGroupedSelectRow($index)">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="marginTopFivepixels"></div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <label for="inputTextLabelUpdate"
                           class="control-label greyText editPropertiesLabel">
                        Label text:
                    </label>
                    <div class="">
                        <input type="text"
                               class="form-control"
                               ng-model="leftPanelController.fieldModel.temporyConfig.formlyLabel"
                               id="inputTextLabelUpdate"
                               placeholder="Add / edit control label here">
                    </div>
                </div>
            </div>
        </div>
        <div class="marginTopFivepixels"></div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <label for="DescriptionUpdate"
                           class="control-label greyText editPropertiesLabel">
                        Description:
                    </label>
                    <div class="">
                        <input type="text"
                               class="form-control"
                               ng-model="leftPanelController.fieldModel.temporyConfig.formlyDescription"
                               id="DescriptionUpdate"
                               placeholder="Add / edit description here">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <left-panel-valid-edit-footer />
</div>
