<div class="modal-footer">
    <div class="form-group">
        <div class="text-right">
            <button uib-tooltip="Reset Control Properties" class="btn btn-danger"
                    ng-click="leftPanelController.resetControl()">
                <i class="fa fa-refresh"></i>
                &nbsp;
                Reset
            </button>
            <button uib-tooltip="Save Control Properties" class="btn btn-success"
                    ng-click="leftPanelController.updateSpecialControl(); leftPanelController.saveFromEditPanel();">
                <i class="fa fa-floppy-o"></i>
                &nbsp;
                Save
            </button>
        </div>
    </div>
</div>
