<div page-loading="$ctrl.working" pl-message="$ctrl.working">
</div>
<div class="asset-types-view-container x2-view-container container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-6 height-if-992 well-2-right">
            <div class="well">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Asset Type</legend>
                        <table id="types" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Active</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                        </table>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 height-if-992 well-2-left">
            <div class="well">
                <fieldset>
                    <legend>Detail</legend>
                    <form class="form-horizontal">
                        <div class="alert alert-danger" role="alert" ng-show="!$ctrl.isValid()">
                            <h4 class="alert-heading">Errors</h4>
                            <p>The following errors must be addressed before the asset type can be saved!</p>
                            <hr>
                            <p class="mb-0" ng-repeat="x in $ctrl.errors">&bull; {{x.error}}</p>
                        </div>
                        <div class="alert alert-info" role="alert" ng-show="$ctrl.copiedType.System">
                            <p>This asset type is a system object and cannot be modified.</p>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Active:</label>
                            <div class="col-sm-9 btn-group" role="group">
                                <button type="button" class="btn btn-default btn-yes-no" ng-class="$ctrl.copiedType.Active ? 'active' : ''" ng-click="$ctrl.copiedType.Active = true; $ctrl.markDirty()" ng-disabled="!$ctrl.isRowSelected() || $ctrl.copiedType.System">Yes</button>
                                <button type="button" class="btn btn-default btn-yes-no" ng-class="!$ctrl.copiedType.Active ? 'active' : ''" ng-click="$ctrl.copiedType.Active = false; $ctrl.markDirty()" ng-disabled="!$ctrl.isRowSelected() || $ctrl.copiedType.System">No</button>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-3">Name:</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" ng-change="$ctrl.markDirty()" ng-model="$ctrl.copiedType.Name" ng-disabled="!$ctrl.isRowSelected() || $ctrl.copiedType.System"  req-data="Name" rd-errors="$ctrl.errors" unq-name un-err-model="$ctrl.errors" un-items="$ctrl.types" un-org-name="{{$ctrl.selectedType.Name}}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Description:</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" type="text" ng-change="$ctrl.markDirty()" ng-model="$ctrl.copiedType.Description" ng-disabled="!$ctrl.isRowSelected() || $ctrl.copiedType.System" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 text-right">
                                <button uib-tooltip="Save Changes..." ng-click="$ctrl.save()" ng-disabled="!$ctrl.dirty || !$ctrl.isValid() || $ctrl.copiedType.System" class="btn btn-success">Save</button>
                                <button uib-tooltip="Discard Changes..." ng-click="$ctrl.discard()" ng-disabled="!$ctrl.dirty" class="btn btn-default">Discard</button>
                            </div>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>