<!-- Modal -->
<div class="modal fade" id="do_task_modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog do-task-modal" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="task_form">
                    <formly-form model="$ctrl.formModel.dataModel" fields="$ctrl.formModel.formlyFieldsModel">
                        <div class="form-group text-right" style="padding-left: 15px; padding-right: 15px">
                            <button ng-show="$ctrl.formModel.showOk" class="btn btn-success" type="submit">
                                {{$ctrl.formModel.okText}}
                            </button>
                            <button ng-show="$ctrl.formModel.showCancel" ng-click="$ctrl.stopTask()" class="btn btn-default">
                                {{$ctrl.formModel.cancelText}}
                            </button>
                        </div>
                    </formly-form>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="view_task_modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog view-task-modal" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="task_form">
                    <formly-form model="$ctrl.formModel.dataModel" fields="$ctrl.formModel.formlyFieldsModel" options="$ctrl.formOptions">
                        <div class="form-group text-right" style="padding-left: 15px; padding-right: 15px;">
                            <button data-dismiss="modal" class="btn btn-default">
                                Close
                            </button>
                        </div>
                    </formly-form>
                </form>
            </div>
        </div>
    </div>
</div>

<div page-loading="$ctrl.working" pl-message="$ctrl.working" pl-hide="$ctrl.hidePage">
</div>

<div class="container-fluid home-view">
    <div id="alerts" ng-class="{collapsed: $ctrl.settings.alerts.collapsed}" >
        <div class="well">
            <div class="panel-header">
                <fieldset>
                    <legend>Alerts</legend>
                </fieldset>
            </div>
            <div class="filter-toolbar" style="margin-top: -20px !important;">
                <span uib-tooltip="Alert Filters" class="glyphicon glyphicon-filter"></span>
                <div class="checkbox">
                    <label for="alerts-show-resolved" uib-tooltip="Show/Hide Alerts which have been resolved...">
                        <input id="alerts-show-resolved" type="checkbox" ng-change="$ctrl.setAlertFilters()" ng-model="$ctrl.settings.alerts.filters.showResolved">
                        Show Resolved
                    </label>

                </div>
            </div>
            <div class="alert-list">
                <div class="alert-wrapper" ng-repeat="x in $ctrl.alerts | filter:{visible:true} track by x.Id">
                    <div class="alert-container {{ x.className }}" ng-class="{'alert-selected': x.selected }"  ng-click="$ctrl.toggleActions($event)">
                        <table>
                            <tr>
                                <td class="alert-title">{{ x.Description }}</td>
                            </tr>
                        </table>
                        <span uib-tooltip="Show/Hide Alert Actions..." tooltip-append-to-body="true" tooltip-placement="auto right-top" class="evt-toggle-actions">
                            <span class="evt-toggle-actions-icon-left"></span>
                        </span>
                        <div class="evt-actions-popover evt-hide" style="height: calc(100% + 2px) !important;">
                            <span ng-show="$ctrl.canResolveAlert(x)" uib-tooltip="Resolve Alert..." tooltip-append-to-body="true" class="evt-action-btn" ng-click="$ctrl.resolveAlert(x)">
                                <i class="fa fa-wrench" aria-hidden="true"></i>
                            </span>
                            <span uib-tooltip="View Alert Details..." tooltip-append-to-body="true" class="evt-action-btn" ng-click="$ctrl.viewAlert(x)">
                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="expand-toggle-button" ng-click="$ctrl.toggleAlert()">
            <span class="glyphicon mobile" ng-class="$ctrl.settings.alerts.collapsed ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"></span>
            <span class="glyphicon desktop" ng-class="$ctrl.settings.alerts.collapsed ? 'glyphicon-chevron-right' : 'glyphicon-chevron-left'"></span>
        </div>
    </div>
    <div id="tasks">
        <div class="well" style="height: 100%">
            <uib-tabset id="cal_tabs" active="$ctrl.settings.selectedTab" class="home-tab-set" style="height: 100%">
                <uib-tab ng-repeat="x in $ctrl.settings.tabs track by x.id" select="$ctrl.selectTab($event, index)" style="height: 100%">
                    <uib-tab-heading>
                        <span>{{x.caption}}</span>
                        <span ng-show="!$ctrl.settings.locked" class="dropdown-toggle tab-dd-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                        </span>
                        <ul class="dropdown-menu tab-dd-menu">
                            <li><a ng-click="$ctrl.addView($event, x)">Add View...</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ng-click="$ctrl.renameTab($event, x)">Rename...</a></li>
                            <li ng-show="$ctrl.settings.tabs.length > 1"><a ng-click="$ctrl.removeTab($event, x)">Remove...</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ng-click="$ctrl.moveTab($event, x, 'right')">Move Right...</a></li>
                            <li><a ng-click="$ctrl.moveTab($event, x, 'left')">Move Left...</a></li>
                        </ul>
                    </uib-tab-heading>
                    <div class="filter-options-container">
                        <div ng-class="{'task-view-top-toolbar': x.showFilter }" class="filter-toolbar" ng-show="x.showFilter">
                            <span uib-tooltip="{{ x.caption + ' Filters' }}" class="glyphicon glyphicon-filter"></span>
                            <div ng-if="::x.type === 'asset'" class="form-group" uib-tooltip="Filter by Departments and Groups...">
                                <div ng-dropdown-multiselect="" events="$ctrl.assetTab.filterA.events" options="$ctrl.assetTab.filterA.data" selected-model="$ctrl.assetTab.filterA.model" extra-settings="$ctrl.assetTab.filterA.settings" translation-texts="$ctrl.assetTab.filterA.customText"></div>
                            </div>
                            <div ng-if="::x.type === 'asset'" class="form-group" uib-tooltip="Filter by Asset...">
                                <div ng-dropdown-multiselect="" events="$ctrl.assetTab.filterB.events" options="$ctrl.assetTab.filterB.data" selected-model="$ctrl.assetTab.filterB.model" extra-settings="$ctrl.assetTab.filterB.settings" translation-texts="$ctrl.assetTab.filterB.customText"></div>
                            </div>
                            <div ng-if="::x.type === 'user' && x.otherUsers" class="form-group" uib-tooltip="Filter by User...">
                                <div ng-dropdown-multiselect="" events="$ctrl.userTab.filter.events" options="$ctrl.userTab.filter.data" selected-model="$ctrl.userTab.filter.model" extra-settings="$ctrl.userTab.filter.settings" translation-texts="$ctrl.userTab.filter.customText"></div>
                            </div>
                            <!--<div class="checkbox">
                            <label uib-tooltip="Show/Hide Tasks which have been completed...">Show Completed <input type="checkbox" ng-change="$ctrl.setFilters()" ng-model="$ctrl.settings.activeTab().filters.showCompleted"></label>
                        </div>
                        <div class="checkbox">
                            <label uib-tooltip="Show/Hide Tasks which have been started and are in progress...">Show Started <input type="checkbox" ng-change="$ctrl.setFilters()" ng-model="$ctrl.settings.activeTab().filters.showStarted"></label>
                        </div>
                        <div class="checkbox">
                            <label uib-tooltip="Show/Hide Tasks which have been stopped and not resumed or completed...">Show Stopped <input type="checkbox" ng-change="$ctrl.setFilters()" ng-model="$ctrl.settings.activeTab().filters.showStopped"></label>
                        </div>-->
                            <button id="toggle-legend" type="button" class="btn btn-default" ng-click="$ctrl.toggleLegend()">Toggle Legend</button>
                        </div>
                    </div>

                    <div ng-class="{'task-view-top-toolbar': !x.showFilter && x.showLegend }" class="calendar-legend" ng-show="x.showLegend">
                        <div class="form-inline">
                            <span uib-tooltip="Task Legend" class="glyphicon glyphicon-list-alt"></span>
                            <div class="form-group" uib-tooltip="Identifies a Task which is past it's due date to be completed.">
                                <div class="lgd-item lgd-item-past-due"></div>
                                <label class="lgd-label">Past Due</label>
                            </div>
                            <div class="form-group" uib-tooltip="Identifies a Task which due today.">
                                <div class="lgd-item lgd-item-due-today"></div>
                                <label class="lgd-label">Due Today</label>
                            </div>
                            <div class="form-group" uib-tooltip="Identifies a Task which has been completed.">
                                <div class="lgd-item lgd-item-complete"></div>
                                <label class="lgd-label">Complete</label>
                            </div>
                            <div class="form-group" uib-tooltip="Identifies a Task which is currently in process.">
                                <div class="lgd-item lgd-item-in-progress"></div>
                                <label class="lgd-label">In Progress</label>
                            </div>
                        </div>
                    </div>
                    <div id="{{'calendar_' + $index}}"></div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
