<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 edit-properties-header"><h5 class="greyText"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit Properties:</h5></div>
        </div>
        <div class="marginTopFivepixels"></div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <label class="control-label greyText">
                    Add New Option:
                </label>
                <div class="input-group">
                    <input type="text" class="form-control" id="inputAddNewBasicOption" placeholder="add new option" ng-model="leftPanelController.radioOption.saisie">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="leftPanelController.addNewOptionRadio()">Add</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <label class="control-label greyText editPropertiesLabel">
                    Edit/Remove Options:
                </label>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <table id="basic_select_options" class="table table-striped basic-select-tbl" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Order</th>
                                    <th>Option</th>
                                    <th style="width: 130px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="radioRow in leftPanelController.radioOptions.rows | filter:radioFilter as radioRow">
                                    <td>
                                        {{$index}}
                                    </td>
                                    <td>
                                        {{radioRow.option}}
                                    </td>
                                    <td style="width: 136px;">
                                        <div class="pull-right">
                                            <button class="btn btn-primary options-row-btn"
                                                    ng-click="leftPanelController.upThisRadioRow($index)">
                                                <i class="fa fa-arrow-up"></i>
                                            </button>
                                            <button class="btn btn-primary options-row-btn"
                                                    ng-click="leftPanelController.downThisRadioRow($index)">
                                                <i class="fa fa-arrow-down"></i>
                                            </button>
                                            <button class="btn btn-danger options-row-btn"
                                                    ng-click="leftPanelController.removeRadioRow($index)">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-show="leftPanelController.radioOptions.rows.length === 0" class="no-data-message">
                            - No options: Add new options -
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="marginTopFivepixels"></div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <label for="inputTextLabelUpdate"
                           class="control-label greyText editPropertiesLabel">
                        Label text:
                    </label>
                    <div class="">
                        <input type="text"
                               class="form-control"
                               ng-model="leftPanelController.fieldModel.temporyConfig.formlyLabel"
                               id="inputTextLabelUpdate"
                               placeholder="Add / edit control label here">
                    </div>
                </div>
            </div>
        </div>
        <div class="marginTopFivepixels"></div>
        <div class="row">
            <div class="form-group">
                <div class="">
                    <label for="RequiredUpdate"
                           class="col-md-4 control-label greyText editPropertiesLabel">
                        Required:
                    </label>
                    <div class="col-md-8">
                        <div class="checkboxCssCorrection">&nbsp;</div>
                        <input type="checkbox"
                               ng-model="leftPanelController.fieldModel.temporyConfig.formlyRequired"
                               id="RequiredUpdate">
                    </div>
                </div>
            </div>
        </div>
        <div class="marginTopFivepixels"></div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <label for="DescriptionUpdate"
                           class="control-label greyText editPropertiesLabel">
                        Description:
                    </label>
                    <div class="">
                        <input type="text"
                               class="form-control"
                               ng-model="leftPanelController.fieldModel.temporyConfig.formlyDescription"
                               id="DescriptionUpdate"
                               placeholder="Add / edit description here">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <left-panel-valid-edit-footer />
</div>
